@import "tailwindcss";

/* app.css */

@keyframes scaleIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scaleIn {
  animation: scaleIn 0.2s ease-out;
}
/* ===== PREMIUM CUSTOM SCROLLBAR ===== */

.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #22c55e,
    #16a34a
  );
  border-radius: 10px;
  transition: all 0.3s ease;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    #4ade80,
    #22c55e
  );
}

/* Firefox */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #22c55e transparent;
}
/* ===== Flip Animation ===== */

.flip-perspective {
  perspective: 1000px;
}

.flip-card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.7s ease;
}

.flip-card.flipped {
  transform: rotateY(180deg);
}

.flip-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 50%;
  overflow: hidden;
}

.flip-back {
  transform: rotateY(180deg);
}
