@import "tailwindcss";

body {
  font-family: "Mulish", sans-serif;
}

@layer components {
  .input {
    @apply w-full px-4 py-2 rounded-md
      bg-primary
      border border-borderDark
      text-textPrimary
      focus:outline-none
      focus:ring-2
      focus:ring-accent;
  }
}
